node_modules
.DS_Store
.next
.vercel
.env.local
.env.*.local
*-debug.log
*-error.log

# Yarn Zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
