@import "../../styles/mixins.scss";

.content {
  :global(.wp-block-image) {
    margin-left: calc(-1 * var(--page-margin));
    margin-right: calc(-1 * var(--page-margin));

    > img {
      width: 100%;
    }
  }

  blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid var(--text-secondary-color);
  }
}
