.container {
  &::before {
    display: block;
    width: 7vw;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.2;
    content: "";
  }
}

.author {
  display: flex;
  margin: 3em 0;
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.8;
  color: var(--text-color);
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  display: block;
  margin-right: 1em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: no-repeat 50% / cover;
  box-shadow: inset 0 0 0 1px rgba(#000, 0.1);
}

.description {
  > p {
    margin: 0;
  }

  font-size: 0.85em;
}
