@import '../../styles/mixins.scss';

.content {
  :global(.wp-block-code) {
    position: relative;
    background: #1a1f28;
    margin-left: calc(-1 * var(--page-margin));
    margin-right: calc(-1 * var(--page-margin));
    border-radius: 0;
    transition-property: border-radius;
    transition-duration: var(--transituin-duration);

    @include breakpoint-large {
      border-radius: 5px;
    }

    &[title]::before {
      display: block;
      padding-left: var(--page-margin);
      padding-right: var(--page-margin);
      font-family: var(--font-family-base);
      font-size: 0.8em;
      font-weight: bold;
      content: attr(title);
    }
  }

  :global(.wp-block-image) {
    margin-left: calc(-1 * var(--page-margin));
    margin-right: calc(-1 * var(--page-margin));

    > img {
      width: 100%;
    }
  }

  :global(.wp-block-quote) {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid var(--text-secondary-color);
  }
}
