$margin: 16px;

.content {
  code {
    font-family: var(--font-family-code);
    background: rgba(#000, 0.35);
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
  }

  :global(.wp-block-code) {
    position: relative;
    background: rgba(#000, 0.35);
    margin-left: -($margin);
    margin-right: -($margin);
    border-radius: 0;
    transition-property: border-radius;
    transition-duration: var(--transituin-duration);

    @media screen and (min-width: 800px) {
      border-radius: 5px;
    }

    > code {
      display: block;
      padding: $margin;
      border-radius: 0;
      font-size: 0.8em;
      background: none;
      overflow-x: auto;
    }

    &[title]::before {
      display: block;
      padding-left: $margin;
      padding-right: $margin;
      background: rgba(#000, 0.1);
      margin-bottom: 1em;
      content: attr(title);
    }

    &[data-lang]::after {
      content: attr(data-lang);
      position: absolute;
      right: 0;
      top: 0;
      text-transform: uppercase;
      padding: 0.5em;
      line-height: 1;
      font-size: 0.5em;
      opacity: 0.4;
      font-family: var(--font-family-code);
    }
  }
}
