.header {
  margin: 3em 0 2em;
}

.title > h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3em;
  word-break: keep-all;

  // @media screen and (min-width: 800px) {
  //   font-size: 2.5em;
  // }

  > a:link,
  > a:visited {
    text-decoration: none;
    color: var(--primary-color);
  }

  > a:focus,
  > a:hover {
    text-decoration: underline;
  }
}

.info {
  font-size: 0.8em;
  color: var(--text-secondary-color);
}
