:root {
  --background-color: #333;
  --logo-color: #eee;
  --logo-dot-color: #555;
  --link-color: #999;
  --link-focus-color: #eee;
  --link-sep-color: #555;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --logo-color: #555;
    --logo-dot-color: #bbb;
    --link-color: #777;
    --link-focus-color: #555;
  }
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  font-family: Nunito, Monaco, monospace, serif;
  font-size: 0.8em;
}
