.links {
  margin: 0;
  padding: 0;

  &::after {
    clear: both;
    display: block;
    content: "";
  }

  li {
    list-style: none;
    float: left;

    &::after {
      content: "|";
      margin: 0 5px;
    }

    &:last-child::after {
      content: none;
    }
  }

  span,
  li:after {
    color: var(--text-secondary-color);
    opacity: 0.5;
  }

  a {
    &:link,
    &:visited {
      color: var(--text-secondary-color);
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover,
    &:focus {
      color: var(--text-color);
    }

    &:active {
      text-decoration: underline;
    }

    > span {
      display: none;

      &:before {
        content: " ";
      }
    }

    &:hover > span,
    &:focus > span {
      display: inline;
    }
  }
}
