@import "../../styles/mixins.scss";

.root {
  position: relative;
  background: #1a1f28;
  margin-left: calc(-1 * var(--page-margin));
  margin-right: calc(-1 * var(--page-margin));
  border-radius: 0;
  transition-property: border-radius;
  transition-duration: var(--transituin-duration);

  @include breakpoint-large {
    border-radius: 5px;
  }

  &[title]::before {
    display: block;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    font-family: var(--font-family-base);
    font-size: 0.8em;
    font-weight: bold;
    color: var(--code-title-color);
    content: attr(title);
  }
}

.container {
  position: relative;
  margin: 0;
  border-radius: 0;
  transition-property: border-radius;
  transition-duration: var(--transituin-duration);

  @include breakpoint-large {
    border-radius: 5px;
  }

  &[data-language]::after {
    content: attr(data-language);
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    padding: 0.5em;
    line-height: 1;
    font-size: 0.5em;
    opacity: 0.4;
    font-family: var(--font-family-code);
  }
}

.code {
  font-family: var(--font-family-code);
  padding: var(--page-margin);
  font-size: 0.7em;
  overflow-x: auto;
}
