.article {
  margin: 3em 0;
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.8;
  color: var(--text-color);
  transition-property: color;
  transition-duration: var(--transituin-duration);

  // @media screen and (min-width: 800px) {
  //   font-size: 1.1rem;
  // }

  p > code,
  p > a > code {
    font-family: var(--font-family-code);
    padding: 0.3em;
    font-size: 0.8em;
    border-radius: 5px;
    background: var(--code-highlight-color);
  }

  a {
    word-break: break-all;

    &:link,
    &:visited {
      text-decoration: none;
      color: var(--primary-color);
      transition: color 0.3s;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.content {
  text-align: justify;
}
